name: ⚙️ Tests

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test-matrix:
    strategy:
      matrix:
        node-version: [20, 22, 24]
        os: [ubuntu-latest, windows-latest]
    name: Test Node ${{ matrix.node-version }} on ${{ matrix.os }}
    uses: SocketDev/socket-registry/.github/workflows/test.yml@main
    with:
      node-version: '${{ matrix.node-version }}'
      os: ${{ matrix.os }}
